body{
    margin:0;
    padding:0;
    text-align: center;
    
}
#gameDiv{
    border: 5px solid white;
    border-radius: 20px;  
}
button{
    width: 200px;
    font-size: 40px;
    border-radius: 30px;
}
button:hover{
    cursor: pointer;
}